{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": false,
	"printWidth": 140,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"endOfLine": "lf",
	"quoteProps": "as-needed"
}
